# Node modules directory
node_modules/

# Environment variable files
.env

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/

# Build output
dist/
build/
